
.fundo {
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    font-family:Arial;
}

.gallery-container h2 {
    color: #000000;
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.gallery-container h2{
    margin-bottom: 20px;
   color: #ffffffbd;
}

.gallery {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s, transform 0.3s;
}

.gallery-item:hover {
    box-shadow: 0 13px 16px rgba(0, 0, 0, 0.637);
    transform: scale(1.1);
}

.title-best p  {
    font-size: 35px;
    margin-bottom: 2%;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #eee;
}

.info {
    padding: 15px;
}

.info h3 {
    margin: 0;
    font-size: 1.2em;
}

.info p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
    color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
    .gallery {
        flex-direction: row;
        gap: 15px;
    }

    .gallery-item {
        width: 150px;
        /* Ajusta o tamanho dos itens em tablets */
    }
}

@media (max-width: 480px) {
    .gallery {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 110%;
       margin-left: -6%;
    }

    .gallery-item{
        max-width: 15%;
    }

    .fundo {
        min-width: 326%;
    }

    .gallery-item {
        width: 50%;
        /* Itens ocupam 100% da largura em telas pequenas */
    }

    .gallery-item img {
        height: auto;
    }
}