@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

.category {
    background-color: #ffffffbd;
    margin-top: 25%;
    width: 900px;
    align-items: center;
    text-align: center;
    margin-left: 28%;
    height: 190px;
    margin-top: 19%;

}

.grid-size {
    display: flex;
    flex-direction: row;
    margin: 10%;
    margin-top: 0%;

}

.grid1 {
    background-color: #f7be0488;
    width: 800px;
}

.grid2 {
    background-color: #f7be0488;
    width: 800px;
    margin-left: 5%;
}

.grid3 {
    background-color: #f7be0488;
    width: 800px;
    margin-left: 5%;
}

.grid4 {
    background-color: #f7be0488;
    width: 800px;
    margin-left: 5%;
}

.grid5 {
    background-color: #f7be0488;
    width: 800px;
    margin-left: 5%;
}

.grid6 {
    background-color: #f7be0488;
    width: 800px;
    margin-left: 5%;
}

.grid-size img {
    width: 40px;
    margin-top: 10%;
}

.category p {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: box-shadow 0.3s;
}

.category p:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}



a {
    color: #03030000;
}

h2 {
    font-family: "Baskervville", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 35PX;
}



@media (max-width: 768px) {
    .container {
        max-width: 20px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 1633px) {
    .category {
        margin-top: 22%;
        max-width: 880px;
        max-height: 150px;
        margin-bottom: 2%;
        margin-left: 22%;
    }

    .grid-size {
        margin-left: 5.5%;
    }

    .grid1,
    .grid2,
    .grid3,
    .grid4,
    .grid5,
    .grid6 {
        min-width: 100px;

    }



}