.category {
    background-color: #ffffffbd;
    margin-top: 20%;
    width: 80%; /* Usar porcentagem para responsividade */
    max-width: 900px; /* Limite máximo */
    align-items: center;
    text-align: center;
    margin-left: auto; /* Centralizar horizontalmente */
    margin-right: auto;
    height: auto; /* Remover altura fixa */
    margin-bottom: 1%;
}

.grid-size {
    display: flex;
    flex-wrap: wrap; 
    margin: 1%;
    justify-content: center; /* Centralizar itens */
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
    background-color: #f7be0488;
    width: calc(15.33% - 1px); /* 3 itens por linha com espaçamento */
    margin: 5px; /* Margem entre os itens */
}

.grid-size img {
    width: 40px;
    margin-top: 10%;
}

.category p {
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: box-shadow 0.3s;
}

.category p:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

a {
    color: #03030000;
}

h2 {
    font-family: "Baskervville", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 35px; /* Corrigir 'PX' para 'px' */
}

@media (max-width: 768px) {
    .category {
        width: 90%; /* Ajustar largura em telas menores */
    }

    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
        width: calc(50% - 10px); /* 2 itens por linha */
    }
}

@media (max-width: 480px) {
    .category {
       margin-top: 35%;
        width: 90%; /* Usar toda a largura em telas muito pequenas */
    }

    .grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
        width: 25%; 
    }
}
