<div class="align">
    <div class="body-product">
        <i class="fa-solid fa-bookmark"></i>

        <div>
            <div class="photos">
                <img src="/Public/bestsellers/casaco.png" alt="fotos">
                <img src="/Public/bestsellers/casaco.png" alt="fotos">
                <img src="/Public/bestsellers/casaco.png" alt="fotos">
                <img src="/Public/bestsellers/casaco.png" alt="fotos">

            </div>

        </div>
        <div class="photo-icon">
            <img src="/Public/Product/photo-icon.png" alt="foto-ícone">
            <div class="name-product">
                <h2>Jaqueta</h2>
                <p class="price">R$ 150,00</p>
            </div>
            <div class="selected-quantities">
                <p>Quantidades selecionadas: <input type="number" name="Quantidades" value="1"></p>
                <div class="marca-info">
                    <p class="log-marca">Vendido por: <img src="/Public/Product/image.png" alt=""> Gucci
                    </p>
                </div>
                <a href="/comprar" class="button-comprar">
                    <img src="/Public/Product/button-comprar.png" alt="">
                </a>

            </div>

            <div class="size-clothing">
                <h2>Tamanhos disponíveis:</h2>
                <div class="model">
                    <h3>P</h3>
                    <h3>M</h3>
                    <h3>G</h3>
                    <h3>XG</h3>
                </div>
                <div class="quantities-total">
                    <p>Quantidades disponíveis:
                    <div class="max-quantities">100</div>
                    </p>
                </div>
                <div class="color-select">
                    <label for="color">Selecione a cor:</label>
                    <select id="color" name="color" required>
                        <option value="black">Preto</option>
                        <option value="maroon">Marrom</option>
                        <option value="yellow">Amarela</option>
                    </select>
                </div>

                <div class="line">0</div>

                <div class="more-seller">
                    <p>Mais do vendedor</p>
                    <div class="exhibition-seller">
                        <a href="/Components/Products/products1.html">
                            <div class="exhibition">
                                <img src="/Public/Product/blusinhagucci.png" alt="Jaqueta">
                                <div class="align-info">
                                    <p class="name-product">Jaqueta de tweed</p>
                                    <p class="price">R$ 150,00</p>
                                </div>
                            </div>

                        </a>

                        <a href="/Components/Products/products1.html">
                            <div class="exhibition">
                                <img src="/Public/Product/blusinhagucci.png" alt="Jaqueta">
                                <div class="align-info">
                                    <p class="name-product">Jaqueta de tweed</p>
                                    <p class="price">R$ 150,00</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="doubt">
                    <p>Duvidas? Pergunte ao vendedor:</p>
                    <div class="question-seller">
                        <input type="text" placeholder="Digite aqui">
                        <button>Perguntar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="bar">0</div>

    </div>

</div>