<div class="body-product">
    <div class="photos">
        <img src="/Public/bestsellers/casaco.png" alt="fotos">
        <img src="/Public/bestsellers/casaco.png" alt="fotos">
        <img src="/Public/bestsellers/casaco.png" alt="fotos">
        <img src="/Public/bestsellers/casaco.png" alt="fotos">

    </div>
    <div class="photo-icon">
        <img src="/Public/Product/photo-icon.png" alt="foto-ícone">
        <div class="name-product">
            <h2>Jaqueta</h2>
            <p class="price">R$ 150,00</p>
        </div>
            <p class="selected-quantities">Quantidades selecionadas: <input type="number" name="Quantidades"></p>
        <div class="marca-info">
            <p class="log-marca">Vendido por: <img src="/Public/Product/image.png" alt=""> Gucci
            </p>
        </div>
        <a href="/comprar" class="button-comprar">
            <img src="/Public/Product/button-comprar.png" alt="">
        </a>
    </div>
<div class="barr"></div>
</div>