<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Produto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Public/gistyle.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/Top.css">
    <link rel="stylesheet" href="/CSS/Rodape.css">
    <link rel="stylesheet" href="/CSS/Products/description-product1.css">
    <link rel="stylesheet" href="/CSS/Products/Product.css">

</head>

<body>
    <div id="top" class="topo">
        <!-- Conteúdo do topo, como logo, barra de pesquisa, navegação... -->
    </div>

    <div id="description-product1" class="description-product1">
        <!-- Conteúdo dos produtos -->
    </div>

    <div id="rodape" class="rodape">
        <!-- rodapé-->
    </div>

    <script src="/JS/Main.js"></script>
</body>

</html>