<div class="fundo">
    <div class="gallery-container">
        <div class="title-best"><p>Produtos Mais Vendidos</p></div>
        <div class="gallery">
            <a href="/Components/Products/products1.html" class="gallery-item">
                <img src="/Public/bestsellers/vestido.png" alt="Produto 1">
                <div class="info">
                    <h3>Vestido</h3>
                    <p class="price">R$ 100,00</p>
                </div>
            </a>
            <a href="/Components/Products/products1.html" class="gallery-item">
                <img src="/Public/bestsellers/calça.png" alt="Produto 2">
                <div class="info">
                    <h3>Calça</h3>
                    <p class="price">R$ 150,00</p>
                </div>
            </a>
            <a href="/Components/Products/products1.html" class="gallery-item">
                <img src="/Public/bestsellers/casaco.png" alt="Produto 3">
                <div class="info">
                    <h3>Casaco</h3>
                    <p class="price">R$ 200,00</p>
                </div>
            </a>
            <a href="/Components/Products/products1.html" class="gallery-item">
                <img src="/Public/bestsellers/vestido.png" alt="Produto 1">
                <div class="info">
                    <h3>Vestido</h3>
                    <p class="price">R$ 100,00</p>
                </div>
            </a>
            <a href="/Components/Products/products1.html" class="gallery-item">
                <img src="/Public/bestsellers/calça.png" alt="Produto 2">
                <div class="info">
                    <h3>Calça</h3>
                    <p class="price">R$ 150,00</p>
                </div>
            </a>
      
        
        </div>
    </div>
</div>