<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="category">
    <h2>Categorias</h2>
    <div class="grid-size">
        <div class="grid1">
            <img src="/Public/Category/femea.png" alt="Sex woman">
            <a href="/Components/Category/feminime.html"><p>Feminina</p></a>
        </div>

        <div class="grid2">
            <img src="/Public/Category/infantil.png" alt="children">
            <a href="/Components/Category/children.html"><p>Infantil</p></a>
        </div>

        <div class="grid3">
            <img src="/Public/Category/masculino.png" alt="man">
            <a href="/Components/Category/man.html"><p>Masculino</p></a>
        </div>

        <div class="grid4">
            <img src="/Public/Category/fantasia.png" alt="fantasy">
            <a href="/Components/Category/fantasy.html"><p>Fantasia</p></a>
        </div>

        <div class="grid5">
            <img src="/Public/Category/intima.png" alt="intime">
            <a href="/Components/Category/intime.html"><p>Íntima </p></a>
        </div>
        <div class="grid6">
            <img src="/Public/Category/fitness.png" alt="fitness">
            <a href="/Components/Category/fitness.html"><p>Fitness</p></a>
        </div>
    </div>