<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="topo">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/Public/gistylelogo.png" alt="Logo">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar...">
            <button class="search-btn">🔍</button>
        </div>
    </div>

    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Favoritos</a></li>
            <li><a href="/reservas">Notificação</a></li>
            <li><a href="/contato">Minha Conta</a></li>
            <li><a href="/contato">Ajuda</a></li>
        </ul>
    </nav>


    <div class="barra"></div>
    <div class="barra2"></div>
</div>
